body {
    background-image: url(../img/main.jpg);
    min-width: 100%;
    min-height: 100%;
    display: flex;
}

nav {
    display: flex;
    margin: 0 0;
    padding: 0;
    max-width: 235px;
}

.navigation {
    position: relative;
    height: 100vh;
    width: 70px;
    background: #2b343b;
    box-shadow: 10px 0px 8px #2E8B57;
    border-left: 10px solid #2b343b;
    overflow-x: hidden;
    transition: width 0.4s ease-in-out;
}

.navigation:hover {
    width: 235px;
}

.navigation ul {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding-left: 5px;
    padding-top: 40px;
}

.navigation ul li {
    position: relative;
    list-style: none;
    width: 100%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.navigation ul li.active {
    background: #2E8B57;
}

.navigation ul li a {
    position: relative;
    display: block;
    width: 100%;
    display: flex;
    text-decoration: none;
    color: #fff;
}

.navigation ul li.active a::before {
    content: '';
    position: absolute;
    top: -30px;
    right: 0;
    width: 30px;
    height: 30px;
    background: #2b343b;
    border-radius: 50%;
    box-shadow: 15px 15px 0 #2E8B57;
}

.navigation ul li.active a::after {
    content: '';
    position: absolute;
    bottom: -30px;
    right: 0;
    width: 30px;
    height: 30px;
    background: #2b343b;
    border-radius: 50%;
    box-shadow: 15px -15px 0 #2E8B57;
}

.navigation ul li a .icon {
    position: relative;
    display: block;
    min-width: 60px;
    height: 60px;
    line-height: 70px;
    text-align: center;
}

.navigation ul li a .icon ion-icon {
    position: relative;
    font-size: 1.5em;
    z-index: 1;
}

.navigation ul li a .title {
    position: relative;
    display: block;
    padding-left: 10px;
    height: 60px;
    line-height: 60px;
    white-space: nowrap;
}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100%;
}

.nav {
    margin: 0 10px;
    padding: 20px;
    font-size: 20px;
}

.nav:hover {
    background-color: rgb(135,206,235, 0.4);
    border-radius: 10px;
    cursor: pointer;
}

.accounts {
    font-size: 50px;
    text-align: center;
}

a {
    color: #000;
    text-decoration: none;
}

h1 {
    margin-left: calc(50% - 125px);
    position: absolute;
    font-size: 50px;
}

.container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    width: 700px;
    height: 350px;
    max-width: 1000px;
    padding: 50px;
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.25);
    border-right: 1px solid rgba(255, 255, 255, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    overflow: hidden;
    backdrop-filter: blur(25px);
}

.container::before {
    content: '';
    position: absolute;
    top: 0;
    left: -40%;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.05);
    pointer-events: none;
    transform: skewX(-15deg);
}

.all {
    display: flex;
    justify-content: center;
    align-items: center;
}

.col {
    display: inline-block;
    margin: 25px 30px;
}

.acc {
    cursor: pointer;
}

.acc:hover {
    background-color: skyblue;
    border-radius: 3px;
}

.colBalance {
    display: inline-block;
    margin: 25px 30px;
    text-align: center;
}

button {
    margin: 0 40px;
    width: 200px;
    height: 50px;
    border-radius: 50px;
}

h1 {
    text-align: center;
    font-size: 50px;
    margin-top: 10px;
    color: #fff;
}

h2 {
    color: skyblue;
}

p {
    color: #fff;
}

.btnAdd:hover {
    background-color: green;
    transition: all 0.2s;
}

.btnDed:hover {
    background-color: yellow;
    transition: all 0.2s;
}

.btnDel {
    display: block;
    margin: 10px 20px;
    width: 80px;
    height: 24px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 15px;
}

.btnDel:hover {
    background-color: crimson;
    transition: all 0.2s;
}

.link {
    text-decoration: none;
    padding: 17px 30px;
    color: black;
    font-size: 20px;
}